@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,800;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h2 {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
}

p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

/* NAVBAR-STARTS */
navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  z-index: 99;
  align-items: center;
  height: 60px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.logo_name {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
.nav_main ul {
  /* display: flex; */
  list-style: none;
  position: relative;
}
.nav_main ul a {
  text-decoration: none;
  padding: 10px;
  font-size: 1rem;
  color: rgb(90, 87, 87);
  font-weight: 550;
}
.nav_main ul li {
  position: relative;
  float: left;
}
.nav_main ul a:hover {
  color: black;
}
.end_nav {
  display: flex;
}
.end_nav a {
  text-decoration: none;
  color: rgb(90, 87, 87);
  padding: 5px;
}
.end_nav a:hover {
  color: black;
}
.started {
  padding-top: 7px;
}
.started a {
  background: blue;
  color: white;
  padding: 10px 15px;
  border-radius: 25px;
}
.started a:hover {
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.3), 5px 5px 5px rgba(0, 0, 0, 0.3);
  color: white;
}

.nav_main ul li ul.dropdown {
  position: absolute;
  float: left;
  top: 30px;
  right: 0;
  width: 150px;
  background: #fff;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  display: none;
}
.nav_main ul li:hover > ul {
  display: initial;
}

/* NAVBAR-END */

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.home-section .tagline {
  background-image: linear-gradient(#edf0ff, #cfd7ff);
  padding: 1rem;
  border-radius: 9rem;
  font-size: 0.9rem;
  margin: 1rem 0;
  width: 40%;
}

.home-section a {
  text-decoration: none;
}

.head-title {
  width: 100%;
  max-width: 30rem;
  text-align: center;
  margin: 0 auto;
}

.head-title h2 {
  font-size: 3.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.head-title p {
  padding: 0 1rem;
}

.title-wrap {
  word-wrap: break-word;
  color: blue;
}

.tagline {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  /* margin: 5rem 0 0 0; */
}

.clients-container {
  padding: 5rem;
}

.clients-logo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 2rem;
  border-bottom: 1px solid #000;
  padding-bottom: 3rem;
  margin: 5rem 0 0 0;
}

.services {
  padding: 2rem;
}

.services h3 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.service-image-container {
  background-color: #fefaed;
  padding: 3rem 5rem;
  border-radius: 30px;
}

.service-image {
  background-image: url("images/services.jpg");
  width: 100%;
  min-height: 300px;
  max-height: 500px;
  background-size: cover;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
  margin-top: 3rem;
  text-align: center;
}

.services-container img {
  margin-bottom: 1rem;
}
.services-container h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 1rem;
}

.services-container p {
  color: #5b5a59;
}

.feedback-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  flex-wrap: wrap;
}

.feedback-content {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.feedback-content h2 {
  font-size: 2rem;
  font-weight: 800;
}

.feedback-content p {
  line-height: 2.5rem;
  margin: 2rem 0;
}

.feedback-image {
  width: 20rem;
  height: 50rem;
  background-color: #888;
}

.feedback-image img {
  width: 100%;
  height: 50%;
}

.feedback-buttons {
  display: flex;
  flex-direction: column;
  /* width: 40rem; */
}

.feedback-buttons a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #ac9c9c;
  padding: 2rem;
  font-size: 1.5rem;
  border: 1px solid #f8e0e0;
  border-radius: 20px;
  font-weight: 600;
}

.customer-context-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customer-context-text h2 {
  width: 50%;
}

.customer-context-text p {
  width: 50%;
  text-align: center;
}

/* prds-start */

.prds {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
  padding: 0 3.5rem;
  gap: 1rem;
}

.prds-2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-align: center;
  padding: 1rem 3.5rem;
  gap: 1rem;
}

.prd-content {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
}

.border {
  border: 1px solid #f0dcdc;
  border-radius: 2rem;
  padding: 3rem;
}

.customer-context h4,
.writing-exp h4,
.content-temp h4,
.custom-properties h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.customer-context p,
.writing-exp p,
.content-temp p,
.custom-properties p {
  color: #888;
  margin: 0 auto;
}

.customer-context-image img,
.writing-exp-image img,
.content-temp-image img,
.custom-properties-image img {
  width: 100%;
}

/* prds-end */

/* loop-container-start */
.loop-container {
  background-color: #f9ebfb;
  margin: 3rem 0;
  border-radius: 2rem;
  width: 100%;
}

.loop-content {
  margin: 0 auto;
  text-align: center;
}

.loop-content h2 {
  padding: 2rem 0;
  padding-top: 8rem;
}

.loop-content p {
  line-height: 1.2;
  padding-bottom: 2rem;
}

.loop-inner-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  gap: 1rem;
}

.loop-right-content {
  margin-bottom: 2.5rem;
}

.loop-right-content .logo {
  margin-bottom: 1rem;
}

.loop-right-content h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

.loop-right-content p {
  color: #888;
}

/* tool-container */

.tool-heading {
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
}

.tool-heading h2 {
  margin: 2rem 0;
}

.tool-heading p {
  margin-bottom: 5rem;
}

.tool-inner-container {
  padding: 5rem;
}

.tool1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tool-image {
  width: 500px;
}

.tool-image img {
  width: 100%;
}

/* media-query */
/* @media screen and (max-width: 800px) {
  .feedback-section {
    padding: 4rem 1rem;
    justify-content: center;
  }
  .feedback-buttons {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .loop-left video {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .prds,
  .prds-2 {
    grid-template-columns: 1fr;
  }

  .loop-content h2 {
    font-size: 1rem;
  }

  .loop-content p {
    font-size: 0.8rem;
  }
} */

@media ((min-width: 370px) and (max-width: 480px)) {
  .feedback-section {
    padding: 1rem;
    justify-content: center;
  }
  .feedback-buttons {
    margin-bottom: 1rem;
  }

  .feedback-image {
    width: 100%;
    border-radius: 10px;
  }

  .services {
    padding: 1rem;
  }

  .home-section .tagline {
    width: 60%;
  }

  .clients-logo {
    grid-template-columns: repeat(4, 1fr);
  }

  .customer-context-text h2,
  .customer-context-text p {
    width: 100%;
    margin-bottom: 1rem;
  }

  .border {
    padding: 0;
  }

  .clients-logo > img {
    width: 4rem;
  }

  .prds,
  .prds-2 {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }

  .loop-inner-container {
    flex-direction: column;
    padding: 1rem;
  }

  .loop-right {
    order: 1;
  }

  .loop-left {
    order: 2;
    width: 100%;
  }

  video {
    width: 100%;
  }

  .loop-content h2 {
    font-size: 2rem;
  }

  .loop-right-content p {
    text-align: start;
  }
}

/* AYAN - */
.written {
  padding-top: 40px;
  text-align: center;
}
.first_title {
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 2px;
}
.second_title {
  font-size: 20px;
  color: rgb(90, 87, 87);
}
.great_company {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  gap: 2rem;
  margin: 5rem;
}
.container {
  position: relative;
  /* height: 350px;
  width: 400px; */
  border: 1px solid lightgrey;
  padding: 2rem;
  transition: all 0.3s;
  border-radius: 25px;
}
.container:hover {
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.container > p {
  height: 35%;
}
.tag {
  margin-top: 5rem;
  height: 60px;
  width: 240px;
  background: lightgreen;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.tag img {
  height: 40px;
  width: 50px;
  border-radius: 50px;
}
#tag2 {
  background: lightblue;
}
#tag3 {
  background: yellow;
}
#tag4 {
  background: blue;
}
#tag5 {
  background: violet;
}
#tag6 {
  background: orangered;
}
.name {
  color: white;
}
/* Try cycle */
.main_try_container {
  width: 100%;
}
.try_container {
  height: 500px;
  width: 80vw;
  margin: 0 auto;
  background: blue;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.head_title {
  color: white;
  font-weight: 1000;
  font-size: 30px;
  letter-spacing: 2px;
}
.try_button a {
  text-decoration: none;
  padding: 10px;
}
.try_started {
  height: 30px;
  width: 80px;
  background: white;
  border-radius: 25px;
}
.try_demo {
  height: 30px;
  width: 80px;
  border: 1px solid white;
  border-radius: 25px;
  color: white;
}
footer {
  width: 100%;
  padding-top: 15px;
}
.foot_conatiner {
  /* height: 400px; */
  width: 80vw;
  margin:auto;
  background: rgb(236, 235, 235);
  border-radius: 50px;
  padding: 50px 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.foot_logo {
  width: 100%;
}
.foot-col h3 {
  padding-bottom: 10px;
}
.foot-col {
  width: 100%;
  padding: 0 15px;
}
.foot-col ul {
  list-style: none;
}
.foot-col ul li a {
  text-decoration: none;
  color: #5b5a59;
}
.foot-col ul li a:hover {
  color: black;
}
.foot_logo_name {
  font-size: 30px;
  font-weight: bolder;
}
.links {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links a {
  color: black;
}
.foot-col i {
  height: 50px;
  width: 50px;
  font-size: 1.5rem;
  border-radius: 50%;
  /* border: 1px solid lightgray; */
  text-align: center;
}
.copyright {
  height: 30px;
  width: 225px;
  font-size: 13px;
}
#menu_list {
  display: none;
}

@media(max-width:990px) {
  #menu_list {
    display: block;
  }

  .nav_main {
    display: none;
  }

  .end_nav {
    display: none;
  }

}
@media(max-width:1200px) {
  .great_company {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media(max-width:650px) {
  .great_company {
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    gap: 1rem .5rem;
  }

  .container {
    padding: 1rem;
    height: 300px;
  }

  .written {
    padding: 100px;
  }

  .tag {
    height: 30px;
  }

  .tag > p {
    font-size: 8px;
  }
}

@media(max-width:850px) and (min-width:649px) {
  .container {
    width: 40vw;
  }

  .second_title {
    font-size: 15px;
  }

  .tag {
    width: 200px;
  }
}
@media ((min-width: 370px) and (max-width: 480px)) {
  .great_company {
    grid-template-columns: 1fr;
    margin: 1rem;
  }

  .container {
    padding: 2rem;
  }
}
@media(max-width:1200px) {
  .foot_conatiner {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

@media(max-width:985px) {
  .foot_conatiner {
    padding: 40px 60px;
  }
}

@media(max-width:470px) {
  .first_title {
    font-size: 30px;
  }
}

@media(max-width:585px) {
  .main-foot {
    grid-template-columns: 1fr;
  }
}


/* AYAN END */


/* mutallib-delete */
.tool-inner-container{
  display: none ;
}